body {
  padding-top:        90px
}
#body {
  width:              500px;
  height:             300px;
}
.leftFlow {
  float:              left;
  margin-left:        15px;
  margin-bottom:      10px;
}
.thisEditor {
  width:              90px;
  height:             18px;
  margin:             0;
  padding:            0;
  border-radius:      6px 6px 6px 6px;
}
#imageWrapperMce {
  width:              100%;
  display:            block;
  margin-top:         40px;
}
.istuffImage {
  text-decoration:    none;
  height:             60px;
  cursor:             pointer;
  float:              left;
  margin-left:        7px;
  margin-top:         5px;
  border:             1px #333 solid;
}
