body {
  padding:        0;
  margin:         0;
  background:     #333333;
  color:          white;
}

#logoWrapper {
  position:           absolute;
  top:                90px;
  left:               0px;
  width:              221px;
  height:             409px;
  opacity:            0.4;
  filter:             alpha(opacity = 40);
  z-index:            100000;
  -moz-box-shadow:    0px 0px 15px #888;
  -webkit-box-shadow: 0px 0px 15px #888;
  box-shadow:         5px 0px 15px #888;
}
#logoCont {
  width:          218px;
  margin-left:    3px;
  height:         409px;
  background:     url(/img/manna_logo.png) no-repeat 18px 115px #dbdbd9;
}

#headerWrapper {
  /*width:          996px;*/
  height:         629px;
  background:     #dbdbd9;
}
#topBarCont {
  /*width:          996px;*/
  height:         90px;
  background:     #020202;
}
#topBar {
  width:          996px;
  height:         90px;
  background:     #020202;
}
#topBannerCont {
  /*width:          996px;*/
  height:         409px;
  background:     #dbdbd9;
}
#topBanner {
  width:          996px;
  height:         409px;
  /*background:     url(/img/manna_top_banner.png);*/
}
#menuWrapperCont {
  /*width:          996px;*/
  height:         40px;
  background:     #929292;
}
#menuWrapper {
  width:          996px;
  /*height:         40px;*/
  background:     #929292;
  display:        block;
  margin:         0;
  padding:        1px;
  text-align:     center;
}
#titleBarCont {
  /*width:          996px;*/
  height:         90px;
  background:     #4b4c51;
}
#titleBar {
  width:          996px;
  height:         90px;
  background:     #4b4c51;
}
#bodyWrapper {
  width:          100%;
}
#bodyContainer {
  width:          996px;
}
#content {
  width:          686px;
  float:          left;
  min-height:     1123px;
  background:     #DBDBD9;
}
#sider {
  width:          310px;
  height:         1123px;
  background:     #323232;
  float:          left;
}
#footerWrapper {
  width:          996px;
  height:         374px;
}
#footerContent {
  width:          686px;
  height:         374px;
  background:     #dbdbd9;
  float:          left;
}
#footerSider {
  width:          310px;
  height:         124px;
  background:     url(/img/footer-sider-bg.png) no-repeat top #323232;
  float:          left;
  text-align:     center;
  padding-top:    250px;
}
#copyright {
  text-decoration:  none;
  color:            white;
  font-weight:      bold;
}
#calendar_holder_sider {

  /*background:     white;*/
  float:          left;
  width:          212px;
  display:        block;
  text-align:     center;
  /*height:         20px;
  background:     red;*/
}
#facebook_wrapper {
  width:          310px;
  display:        block;
  text-align:     center;
}
/*
  forming
*/
.form-wrapper {
  width:            450px;
  display:          block;
}
.formEl-wrapper {
  margin-top:       5px;
}
.formEl-wrapper input, .formEl-wrapper textarea {
  border-radius:    7px;
}
.textElement {
  width:            300px;
  margin-left:      15px;
  border:           1px solid grey;
}
.formEl-wrapper label {
  width:            100px;
  float:            left;
  text-align:       center;
}
.textAreaElement {
  width:            300px;
  height:           150px;
  margin-left:      15px;
  border:           none;
}
.textSubmitElement {
  width:            ;
  margin-left:      15px;
  border:           none;
  margin-top:       10px;
}
/*menu*/
#mainmenu ul {
  list-style-type:  none;
  padding-top:      1px;
  margin-top:       1px;
  font-size:        12px;
  line-height:      0px;
  text-align:       center;
}
#mainmenu li {
  list-style-type:  none;
  float:            left;
  padding:          0;
  margin:           0;
  margin-top:       -8px;
}
#mainmenu a {
  text-decoration:  none;
  padding:          0;
  margin:           0;
  padding: 11px 20px 13px 20px;
  font-size:        14px;
  /*font-weight:      bold;*/
  line-height:      0px;
  color:            white;
  font-family:      arial,sans-serif;
}
#mainmenu a.active {
  background:       white;
  color:            #4B4E54;
}
#mainmenu a:hover {
  background:       white;
  color:            #4B4E54;
}
#mainmenu a.active:hover {
/*  background:       #929292;*/
/*  color:            white;*/
}

/* slider */
.nivoSlider {
    position:relative;
    width:618px; /* Change this to your images width */
    height:246px; /* Change this to your images height */
    background:url(images/loading.gif) no-repeat 50% 50%;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.nivoSlider a {
    border:0;
    display:none;
}
.nivo-controlNav {
  display: none;
}


/* front end */
#content {
  color:                  #4b4c51;
  padding-top:            30px;
}
.index_node_title {
  margin-left:            37px;
  margin-top:             21px;
  width:                  620px;
  height:                 61px;
  border-bottom:          1px solid #4b4c51;
}
.index_left_margin {
  width:                  66px;
  height:                 54px;
  background:             #4b4c51;
  float:                  left;
  color:                  #dadad8;
  text-align:             center;
  padding-top:            7px;
}
.index_article_title {
  float:                  left;
  margin-left:            21px;
  line-height:            1px;
  margin-top:             40px;
  font-size:              17px;
}
.index_title_link {
  text-decoration:        none;
  color:                  #4b4c51;
}
.index_node_lead {
  margin-left:            103px;
  padding-left:           10px;
  padding-top:            10px;
  width:                  543px;
  font-size:              15px;
  text-align:             justify;
  line-height:            23px;
  font-family:            arial,sans-serif;
}
span.month {
  /*line-height:            1px;*/
  padding:                0;
  font-size:              17px;
}
span.thisDay {
  /*line-height:            1px;*/
  padding:                0;
  font-size:              25px;
  font-family:            arial,sans-serif;
}
